<table>
<tr><td>{str tag=Outcome section=artefact.outcome}: </td><td>{$outcome}</td></tr>
<tr><td>{str tag=Scale section=artefact.outcome}: </td><td>{$scale}</td></tr>
<tr><td>{str tag=Grade section=artefact.outcome}: </td><td>{$grade}</td></tr>
</table>